<h1>{{title}}</h1>
<div class="ItemBody">

    <mat-icon>search</mat-icon><label class="newLabel" for="new-customer-firstname">Item Name: </label>
    <input [formControl]="itemname" id="new-customer-firstname" style="margin-bottom: 5px;" />
    <hr />
    <ul class="customers">
        @for (i of items; track i.id) {
        @if((itemname.value!=null) && (i.Name | lowercase).startsWith((itemname.value|lowercase)))
        {<a routerLink="/item-detail/{{i.id}}" style="cursor: pointer; color: inherit; font-style:normal ">
        <li class="customer">
            <span class="badge">{{i.id}}</span> {{i.Name}} - {{i.Price}}
        </li></a>}
        }
    </ul>
</div>