.NotFoundComponent{
    border: 3px rgb(255, 175, 129) solid;
    background-color: rgb(255, 240, 222);
    height: min-content;
    width: fit-content;
    padding: 50px;
    margin: 30px;
}
.NotFoundParagraph{
    padding-left: 30px;
    padding-top: 20px;
}