h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #525252;
    margin-top: 20px;
    margin-left: 20px;
}

.CustomerBody {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px rgb(197, 197, 197) solid;
    border-radius: 5px;
    background-color: #e9e9e9;
    margin-left: 10px;
    margin-right: 10px;
}

li {
    background-color: rgb(177, 174, 170);
    margin-bottom: 3px;
    border-radius: 3px;
    min-width: fit-content;
    /* width: 20em; */
    min-height: 1.6em;
    font-size: 1.5em;
    line-height: 1.2em;
    border-bottom: 3px solid rgb(53, 53, 53);
}

.massage {
    padding-left: 20px;
    padding-top: 10px;
}

.badge {
    display: inline-block;
    width: 2em;
    border-radius: 3px 0px 0px 1px;
    height: 1.63em;
    padding-top: 5px;
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: azure;
}

button.delete {
    background-color: rgb(231, 231, 231);
    color: #525252;
    font-size: 1rem;
    margin-left: calc(95cqw/2);
    border-radius: 5px;
    margin-top: 2px;
    padding: 5px 10px;
}

button.delete:hover {
    background-color: #525252;
    color: white;
}

input[type=text] {
    width: 30%;
    padding: 8px 14px;
    margin: 2px;
    box-sizing: border-box;
}

button.add {
    font-size: 12px;
    margin: 2px;
    padding: 8px 14px;
}
.newLabel{
    margin-right: 20px;
}