<section class="vh-90 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card  text-white" style="border-radius: 1rem; background-color: rgb(15, 16, 88);">
                    <div class="card-body p-5 text-center">

                        @if(login) { <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">@if(log_sign){Login}@else{SignUp}</h2>
                            <p class="text-white-50 mb-5">Please enter your Email and password!</p>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                    placeholder="Email" [formControl]="email" />
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                    placeholder="Password" [formControl]="password" />
                            </div>
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 "
                                style="margin-top: 10%;" type="submit"
                                (click)="Submit()">@if(log_sign){Login}@else{SignUp}</button>
                            <div style="margin-top: 4%; color: rgb(243, 67, 67);" [style.display]="status">
                                <p><i class="bi bi-exclamation-triangle"></i> {{message.value}} !</p>
                            </div>
                        </div>

                        <div>
                            @if(log_sign){<p class="mb-0">Don't have an account? <a class="text-white-50 fw-bold"
                                    (click)="Toggle(false)" style="cursor: pointer;">Sign
                                    Up</a>
                            </p>}@else{<p class="mb-0">Have an account? <a class="text-white-50 fw-bold"
                                    (click)="Toggle(true)" style="cursor: pointer;">LogIn
                                </a>
                            </p>}

                        </div>
                        }
                        @else {}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>