<section style="height: 90vh">
    <div class="container py-5 h-100" [style.display]="display_">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card  text-white" style="border-radius: 1rem; background-color: rgb(15, 16, 88);">
                    <div class="card-body p-5 text-center">

                        @if(login) { <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">@if(log_sign){Login}@else{SignUp}</h2>
                            <p class="text-white-50 mb-5">Please enter your Email and password!</p>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                    placeholder="Email" [formControl]="email" />
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                    placeholder="Password" [formControl]="password" />
                            </div>
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 "
                                style="margin-top: 10%;" type="submit"
                                (click)="Submit()">@if(log_sign){Login}@else{SignUp}</button>
                            <div style="margin-top: 4%; color: rgb(243, 67, 67);" [style.display]="status">
                                <p><i class="bi bi-exclamation-triangle"></i> {{message.value}} !</p>
                            </div>
                        </div>

                        <div>
                            @if(log_sign){<p class="mb-0">Don't have an account? <a class="text-white-50 fw-bold"
                                    (click)="Toggle(false)" style="cursor: pointer;">Sign
                                    Up</a>
                            </p>}@else{<p class="mb-0">Have an account? <a class="text-white-50 fw-bold"
                                    (click)="Toggle(true)" style="cursor: pointer;">LogIn
                                </a>
                            </p>}

                        </div>
                        }
                        @else {}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content page-container justify-content-center" id="page-content" [style.display]="display">
        <div class="padding d-flex justify-content-center">
            <div class="row container d-flex justify-content-center" >
                <div class="col-xl-6 col-md-14">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-14 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25">
                                        <img src={{User?.avatar}} class="img_custom" alt="User-Profile-Image">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-26" style="width: fit-content;">
                                <div class="card-block">
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="font-size: 3vw;">Information</h6>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600" style="font-size: 1.25vw;">First Name</p>
                                            <h6 class="text-muted f-w-400" style="font-size: 1vw;">{{User?.first_name}}</h6>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="m-b-10 f-w-600" style="font-size: 1.25vw;">Last Name</p>
                                            <h6 class="text-muted f-w-400" style="font-size: 1vw;">{{User?.last_name}}</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600" style="font-size: 3vw;">Social</h6>
                                    <div class="row">
                                            <p class="m-b-10 f-w-600" style="font-size: 1.25vw;">Email</p>
                                            <h6 class="text-muted f-w-400" style="font-size: 1vw;">{{User?.email}}</h6>
                                    </div>
                                    <ul class="social-link list-unstyled m-t-40 m-b-10">
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="facebook" data-abc="true"><i
                                                    class="mdi mdi-facebook feather icon-facebook facebook"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="twitter" data-abc="true"><i
                                                    class="mdi mdi-twitter feather icon-twitter twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                                                data-original-title="instagram" data-abc="true"><i
                                                    class="mdi mdi-instagram feather icon-instagram instagram"
                                                    aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>