<h1>TODAY's News</h1>
<div class="CardBox">
    @for (news_ of NewS; track $index) {
    <div class="NewsCard">
        <div class="Part1">
            <img src={{news_.urlToImage}} height="100%" width="100%" class="NewsImg">
        </div>
        <div class="Part2">
            <h4>{{news_.title}}</h4>
            <h6 style="padding-left: 10px;">{{news_.description}}</h6>
        </div>
        <div class="Part3">
            <button type="button" class="btn btn-link"><a href={{news_.url}}>{{news_.source.name}}</a></button>
        </div>
    </div>
    }
</div>