<h1 style="margin-top: 1%;">Today's Top News</h1>
@if(NewS.length!=0){
<div class="CardBox">
    @for (news_ of NewS; track $index) {
    <div class="NewsCard">
        <div class="Part1">
            <img src={{news_.urlToImage}} (error)="updateUrl($event,$index)" class="NewsImg">
        </div>
        <div class="Part2">
            <h4>{{news_.title}}</h4>
            <h5><mat-icon style="position: relative; top: 4px;">create</mat-icon> Author: {{news_.author}}</h5>
            <h5><mat-icon style="position: relative; top: 4px;">event_note</mat-icon> Reales Date: {{news_.publishedAt |
                date}}</h5>
            <h6 style="padding-left: 10px;">{{news_.description}}</h6>
        </div>
        <div class="Part3">
            <button type="button" class="btn btn-link"><a href={{news_.url}}>{{news_.source.name}}</a></button>
        </div>
    </div>

    }
</div>}
@else {
<p style="width: 100%; height: 75vh; font-size: 50px;
text-align: center; align-content: center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">No
    News☹️</p>
}