nav{
    background-color: rgb(7, 47, 63);
    color: azure;
    padding: 10px;
    height:100%;
    display: flex;
    align-items: baseline;
    gap: 20px;
}
h4:hover{
    color: rgb(119, 119, 119);
    cursor: pointer;
}