.EmailInput{
    padding: 50px;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 30vh;
}
.EmailInput label{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.EmailInput input{
    border-radius: 5px;
    width: calc(30cqw);
    justify-self: center;
}
.Welcome{
    padding: 20px;
    text-align: center;
    align-content: center;
    height: 30vh;
}
.Welcome p{
    font-size: 50px;
    font-weight: bold;
}

.DomainCountry{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.DomainCountry_box{
    position: absolute;
    display: flex;
    height: 50vh;
    padding: 30px;
    width:calc(65cqw);
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    align-items: center;
}